.imageBox{
	border: solid 2px black;
	border-radius: 5px;
	width: 100%;
	height: 200px;
}

.circle{
	position: relative;
	margin: auto;
	top: 80%;
    width: 80px;
    height: 80px;
    border-radius: 320px;
    background-color: white;
}

.uploadButton{
	position: relative;
	left:5%;
	top: 5%;
	width: 70px;
	height: 70px;
	border-radius:320px;
	background-color: grey;
}

.plusSign{
	position: absolute;
	padding-left: 27%;
	font-size: 54px;
	font-weight: bold;
}

.dropzoneContainer{
	margin: auto;
	width: 50%;
}

.centerText{
	text-align:center;
	margin-top: 15px;
	margin-bottom: 15px;
}